@media only screen and (max-width: 767px) {

    .owl-carousel.home-slider .slider-item {
      height: calc(100vh - 70px); /* Adjusted for smaller screen heights */
      min-height: 500px; /* Minimum height for mobile */
      background-size: cover;
    }
  
    .owl-carousel.home-slider .slider-item .slider-text {
      height: calc(100vh - 70px); /* Match the slider item height */
      min-height: 500px;
    }
  
    .owl-carousel.home-slider .slider-item .slider-text h1 {
      font-size: 70px; /* Reduced font size for mobile */
      line-height: 1.1; /* Adjust line height */
    }
  
    .owl-carousel.home-slider .slider-item .slider-text h1::before {
      width: 70%; /* Adjust the background blur size */
      height: 70%;/* Reduce blur effect for mobile */
    }
  
    .para {
      position: relative;
      -webkit-text-stroke: 0px #ffffff;
      top: 50px; /* Adjust stroke width for mobile */
  
    }
  }
  
      .owl-carousel.home-slider .slider-item .slider-text p {
          font-size: 20px;
          line-height: 1.5;
          font-weight: 300;
          color: white; }
    .owl-carousel.home-slider.inner-page .slider-item {
      height: calc(50vh - 117px);
      min-height: 500px; }
      .owl-carousel.home-slider.inner-page .slider-item .slider-text {
        color: #fff;
        height: calc(50vh - 117px);
        min-height: 500px; }
    .owl-carousel.home-slider .owl-dots {
      position: absolute;
      bottom: 150px;
      width: 100%; }
      .owl-carousel.home-slider .owl-dots .owl-dot {
        width: 18px;
        height: 18px;
        margin: 5px;
        border-radius: 50%;
        background: #e6e6e6;
        background: none;
        outline: none !important;
        position: relative;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .owl-carousel.home-slider .owl-dots .owl-dot span {
          position: absolute;
          width: 20px;
          height: 3px;
          background: rgba(255, 255, 255, 0.5);
          left: 50%;
          top: 50%;
          display: block; }
        .owl-carousel.home-slider .owl-dots .owl-dot.active span {
          background: white; }
  
  
  
  .owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #495057; }
    .owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
      color: #6c757d;
      outline: none; }
    .owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
      color: #dee2e6; }
  
  .owl-carousel.major-caousel .owl-nav .owl-prev {
    left: -60px !important; }
  
  .owl-carousel.major-caousel .owl-nav .owl-next {
    right: -60px !important; }
  
  .owl-carousel.major-caousel .owl-dots {
    bottom: -30px !important;
    position: relative; }
  
  .owl-custom-nav {
    float: right;
    position: relative;
    z-index: 10; }
    .owl-custom-nav .owl-custom-prev,
    .owl-custom-nav .owl-custom-next {
      padding: 10px;
      font-size: 30px;
      background: #ccc;
      line-height: 0;
      width: 60px;
      text-align: center;
      display: inline-block; }

      .owl-carousel.home-slider .slider-item .slider-text h1 {
       
      }
   .owl-carousel.home-slider .slider-item .slider-text h1::before{
     content: '';
     position: absolute;
     left: 50%;
     top:50%;
     transform: translate(-50%, -50%);
     width: 50%;
     height: 50%;
     background: rgba(0, 0, 0, 0.8);
     border-radius: 50% ;
     filter: blur(200px);
 
 }

 .owl-carousel .owl-item {
    opacity: .4; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px; }
      .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
      .owl-carousel .owl-nav .owl-next:hover,
      .owl-carousel .owl-nav .owl-next:focus,
      .owl-carousel .owl-nav .owl-next:active {
        outline: none; }
      .owl-carousel .owl-nav .owl-prev span:before,
      .owl-carousel .owl-nav .owl-next span:before {
        font-size: 40px; }
    .owl-carousel .owl-nav .owl-prev {
      left: 30px !important; }
    .owl-carousel .owl-nav .owl-next {
      right: 30px !important; }
  
  .owl-carousel .owl-dots {
    text-align: center; }
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: #e6e6e6; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #d00c1a; }
  
  .owl-carousel.home-slider {
    z-index: 1;
    position: relative; }
    .owl-carousel.home-slider .owl-nav {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .owl-carousel.home-slider .owl-nav button {
        color: #fff; }
    .owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
      opacity: 1;
      visibility: visible; }
    .owl-carousel.home-slider .slider-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: calc(100vh - 117px);
      min-height: 700px; 
    }
    .owl-carousel.home-slider .slider-item:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 0.3;
         }
      .owl-carousel.home-slider .slider-item .slider-text {
        color: #000;
        height: calc(100vh - 117px);
        min-height: 700px; }